%%writefile .gitignore
__pycache__/
*.pyc
*.pyo
*.pyd

.ipynb_checkpoints/
.venv/
venv/
env/

.DS_Store
Thumbs.db

runs/
wandb/
logs/
outputs/
tmp/
temp/

DAWN/
extracted/
work/
yolo_dawn/
weather_val_sets/

*.zip
*.rar
*.7z

*.docx
*.pdf
*.pptx
*.xlsx

README_KEEP.txt
